.youcansee{
        visibility: visible;
}

.youcantsee{
        visibility: hidden;
}

.sub_title{
        font-size: 30px;
        font-family: "Hanzipen TC";
        border-bottom: solid 1px black;
}

.sub_name{
        font-size: 25px;
        font-family: "Century-Gothic";
}

.my_right{
        text-align: right;
        color: #395f5f;
        font-family: "Century Gothic" Regular;
        font-size: 20px;

}

.my_left{
        color: #f5af78;
        font-family: "Century-Gothic";
        font-size: 20px;
}

#messagesDiv{
        height: 300px;
        overflow: auto;
}
